<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1021363601246-mh10o919m6v4upm6p179okedkm22i12g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021363601246-mh10o919m6v4upm6p179okedkm22i12g</string>
	<key>API_KEY</key>
	<string>AIzaSyAkOImkVNIZJgqbbnBafnpQzWsTsSgU9Eg</string>
	<key>GCM_SENDER_ID</key>
	<string>1021363601246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capgemini.Allok8</string>
	<key>PROJECT_ID</key>
	<string>alloc8-09212017</string>
	<key>STORAGE_BUCKET</key>
	<string>alloc8-09212017.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021363601246:ios:28e3f0acfd75d906</string>
	<key>DATABASE_URL</key>
	<string>https://alloc8-09212017.firebaseio.com</string>
</dict>
</plist>
